---
layout: archive
title: "Salmon migrations"
permalink: /animations/
author_profile: true
---

Animated movement tracks of 329 acoustic tagged juvenile Chinook salmon, 2022-24. Animations will be updated as more movement data become available.

[October 2022](wesleygreentree.github.io/animations/october-2022)

October 2023:
![october 2022 animation](/files/oct22-anim-satellite.gif)

{% include base_path %}

{% for post in site.animations reversed %}
  {% include archive-single.html %}
{% endfor %}
